div.TableCellTappable {
   border-radius: 0;
   width: 100%;
   height: 100%;
}
/* .TableCell--outline-primary {
   box-shadow: 0px 0px 0px var(--thin-border) #000;
} */
/* .TableCellTappable--appearance-dark {
   color: var(--separator_common, var(--vkui--color_separator_primary2x));
}
.TableCellTappable--appearance-light {
   color: black;
} */

.TableCellTappable--outline::before {
   content: '';
   z-index: 3;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   outline: 1.5px solid currentColor;
}

.TableCellTappable--outline-primary {
   color: black;
}
.TableCellTappable--outline-secondary {
   color: var(--separator_common, var(--vkui--color_separator_primary2x));
}
/* box-shadow: 0px 0px 0px var(--thin-border) #000; */
/* box-shadow: 0px 0px 0px var(--thin-border) var(--separator_common, var(--vkui--color_separator_primary2x)); */
