.vkuiPopoutRoot__popout:empty,
.vkuiPopoutRoot--absolute:empty {
   display: none;
}

.vkuiButton.Button--round {
   border-radius: 500px;
}

.vkuiButton.Button--stretched-content > .vkuiButton__in > .vkuiButton__content {
   flex: 1 1;
}

.Tappable--active-opacity {
   transition: opacity 0.1s ease-out;
}

.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList {
   border-radius: inherit;
}

.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > * {
   border-radius: initial;
}
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *:first-of-type,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > *:first-of-type {
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
}

.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *:last-of-type,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > *:last-of-type {
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
}
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *:only-of-type,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > *:only-of-type {
   border-radius: inherit;
}

.vkuiEpic .vkuiPanel.Panel--no-tabbar .vkuiPanel__in,
.vkuiEpic .vkuiPanel.Panel--no-tabbar .vkuiFixedLayout--bottom {
   padding-bottom: 0;
   padding-bottom: var(--safe-area-inset-bottom);
}

.Group--full-height {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

.Group--full-height > * {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
}

.vkuiHeader.TableHeader .vkuiHeader__content-in {
   display: flex;
}
.vkuiGroup.TableElement > div {
   display: flex;
   justify-content: center;
}
.ButtonGroup--h-pad {
   padding: 0 var(--vkui--size_base_padding_horizontal--regular, 12px);
   box-sizing: border-box;
}
.ButtonGroup--max-w350 > button {
   max-width: 350px;
}

text {
   dominant-baseline: central;
   text-anchor: middle;
}

@keyframes group-scale-show {
   from {
      transform: scaleY(0);
   }
   to {
      transform: scaleY(1);
   }
}
@keyframes group-scale-hide {
   from {
      transform: scaleY(1);
   }
   to {
      transform: scaleY(0);
   }
}

.Group--animation-show {
   transform-origin: top;
   animation: group-scale-show 0.2s ease-out;
}
.Group--animation-hide {
   transform-origin: top;
   animation: group-scale-hide 0.2s ease-out;
}
