:root {
   --timing--fast_out_slow_in: cubic-bezier(0.4, 0, 0.2, 1);
}
.vkuiPopoutRoot__popout:empty,
.vkuiPopoutRoot--absolute:empty {
   display: none;
}

.vkuiButton.Button--round {
   border-radius: 500px;
}

.vkuiButton.Button--stretched-content > .vkuiButton__in > .vkuiButton__content {
   flex: 1 1;
}

.Tappable--active-opacity {
   transition: opacity 0.1s ease-out;
}

.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList {
   border-radius: inherit;
}

.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > * {
   border-radius: initial;
}
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *:first-of-type,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > *:first-of-type {
   border-top-left-radius: inherit;
   border-top-right-radius: inherit;
}

.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *:last-of-type,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > *:last-of-type {
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
}
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > .vkuiList > *:only-of-type,
.vkuiCardGrid.vkuiCardGrid--l > .vkuiCard > .vkuiCard__in > *:only-of-type {
   border-radius: inherit;
}

.vkuiEpic .vkuiPanel.Panel--no-tabbar .vkuiPanel__in,
.vkuiEpic .vkuiPanel.Panel--no-tabbar .vkuiFixedLayout--bottom {
   padding-bottom: 0;
   padding-bottom: var(--safe-area-inset-bottom);
}

.Group--full-height {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

.Group--full-height > * {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
}

.ButtonGroup--h-pad {
   padding: 0 var(--vkui--size_base_padding_horizontal--regular, 12px);
   box-sizing: border-box;
}
.ButtonGroup--max-w350 > button {
   max-width: 350px;
}

text {
   dominant-baseline: central;
   text-anchor: middle;
}

/* .Group {
   transform-origin: top;
} */

.Group-enter {
   transform-origin: top;
   transform: scaleY(0);
}
.Group-enter-active {
   transform-origin: top;
   transform: scaleY(1);
   transition: transform 0.2s var(--timing--fast_out_slow_in);
}
/* .Group-enter-active-done {} */

.Group-exit {
   transform-origin: top;
   transform: scaleY(1);
}
.Group-exit-active {
   transform-origin: top;
   transform: scaleY(0);
   transition: transform 0.2s var(--timing--fast_out_slow_in);
}
/* .Group-exit-active-done {} */

.SeparatorList > * {
   margin-left: calc(var(--vkui--size_base_padding_horizontal--regular, 16px) + 12px + 4px + 28px);
}
