.TableCellChar {
   width: 100%;
   height: 100%;
   user-select: none;
   border-radius: inherit;
   overflow: hidden;

   transition: opacity 0.2s var(--timing--fast_out_slow_in);
}
.TableCellChar--clr-md-primary {
   color: var(--text_primary, var(--vkui--color_text_primary));
}
.TableCellChar--clr-md-white {
   color: var(--white);
}

.TableCellChar--clr-md-red {
   color: var(--vkui--color_background_negative);
}

.TableCellChar--clr-md-black {
   color: black;
}

.TableCellChar--disabled {
   opacity: 0.5;
}

.TableCellChar__svg {
   display: block;
}
.TableCellChar__text {
   font-size: 20px;
   font-weight: 500;
   transform-origin: center;
}

.TableCellChar__text--sz-s {
   font-size: 20px;
}
.TableCellChar__text--sz-m {
   font-size: 25px;
}
.TableCellChar__text--sz-l {
   font-size: 30px;
}
.TableCellChar__text--flip-both {
   transform: scale(-1, -1);
}
.TableCellChar__text--flip-h {
   transform: scaleX(-1);
}
.TableCellChar__text--flip-v {
   transform: scaleY(-1);
}
