.TableCell {
   position: relative;
   /*  */
}
.TableCell--shape-round {
   border-radius: 50%;
}
.TableCell--shape-square {
   border-radius: 0px;
}
.TableCell--shape-rounded-square {
   border-radius: 8px;
}

.TableCell--outline::before {
   content: '';
   /* z-index: 3; */
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   border-radius: 0;
   outline: 1.5px solid currentColor;
}

.TableCell--appearance-dark {
   color: var(--separator_common, var(--vkui--color_separator_primary2x));
}
.TableCell--appearance-light {
   color: black;
}
