.TableView {
   padding: 0 var(--vkui--size_base_padding_horizontal--regular, 12px);
   position: relative;

   /* margin-bottom: auto;
   margin-top: auto; */
   margin: auto;

   max-width: 400px;
   width: 100%;
   box-sizing: border-box;
}
.TableView__in {
   width: 100%;
   position: relative;
   height: 0;
   padding-bottom: 100%;
}
.TableView__canvas {
   position: absolute;
   width: 100%;
   height: 100%;
   display: block;
}

.TableView__cells {
   position: absolute;
   width: 100%;
   height: 100%;
   display: grid;

   place-items: stretch stretch;

   grid-row-gap: 1px;
   grid-column-gap: 1px;
   gap: 1px;
   place-content: stretch;
}
.TableView__cells--blur {
   filter: blur(16px);
}

.TablePlayButton {
   position: absolute;
   width: 100%;
   height: 100%;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   z-index: 3;
   /* backdrop-filter: blur(16px); */
}
.TablePlayButton > .TablePlayButton__tappable {
   border-radius: 8px;
}
.TablePlayButton__tappable {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.TablePlayButton__icon {
   padding: 10px;
   color: white;
}
