.TableCellBackground {
   height: 100%;
   width: 100%;
   position: relative;
   z-index: 1;
   /* user-select: none; */
   border-radius: inherit;
}

/* 
.TableCellBackground--clr-custom {}
.TableCellContent--clr-none {}
*/

.TableCellBackground--bg-clr-md-red {
   background-color: var(--vkui--color_background_negative);
}

.TableCellBackground--bg-clr-md-black {
   background-color: black;
}
.TableCellBackground--shadow {
   box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 0, 0.1);
}
/* background-color: var(--vkui--color_background_contrast_inverse); */

.TableCellBackground--animation-shockwave {
   transform-origin: center;
   z-index: 2;
   animation: shockwaveJump 1s ease-out infinite;
}
.TableCellBackground--animation-shockwave::after,
.TableCellBackground--animation-shockwave::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 2;
}
.TableCellBackground--animation-shockwave::after {
   animation: shockwave 1s 0.65s ease-out infinite;
}

.TableCellBackground--animation-shockwave::before {
   animation: shockwave 1s 0.5s ease-out infinite;
}

@keyframes shockwaveJump {
   0% {
      transform: scale(1);
   }
   40% {
      transform: scale(1.08);
   }
   50% {
      transform: scale(0.98);
   }
   55% {
      transform: scale(1.02);
   }
   60% {
      transform: scale(0.98);
   }
   100% {
      transform: scale(1);
   }
}

@keyframes shockwave {
   0% {
      transform: scale(1);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
   }
   95% {
      box-shadow: 0 0 50px rgba(0, 0, 0, 0), inset 0 0 30px rgba(0, 0, 0, 0);
   }
   100% {
      transform: scale(2.25);
   }
}

.TableCellBackground--animation-jump {
   z-index: 2;
   animation: 0.4s jump ease infinite alternate;
}
@keyframes jump {
   0% {
      transform: scale(1);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
   }
   100% {
      transform: scale(1.05);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   }
}

.TableCellBackground--animation-wiggle {
   z-index: 2;
   animation: 1s wiggle ease infinite;
}
@keyframes wiggle {
   0% {
      transform: rotate(-3deg);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   }
   20% {
      transform: rotate(20deg);
   }
   40% {
      transform: rotate(-15deg);
   }
   60% {
      transform: rotate(5deg);
   }
   90% {
      transform: rotate(-1deg);
   }
   100% {
      transform: rotate(0);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   }
}
