.Symbol {
   width: 100%;
   height: 100%;
}

.Symbol--appearance-dark {
}
.Symbol--appearance-light {
}

.Symbol--clr-primary {
   color: var(--text_primary, var(--vkui--color_text_primary));
}
.Symbol--clr-white {
   color: var(--white);
}

.Symbol--clr-red {
   color: var(--text_primary, var(--vkui--color_text_negative));
}
.Symbol--clr-black {
   color: var(--text_primary, var(--vkui--color_text_contrast_themed));
}

.Symbol--disabled {
   opacity: 0.5;
   /* color: var(--vkui--color_text_tertiary); */
}

.Symbol__text {
   font-size: 20px;
   font-weight: 500;
   transform-origin: center;
}

.Symbol__text--sz-s {
   font-size: 20px;
}
.Symbol__text--sz-m {
   font-size: 25px;
}
.Symbol__text--sz-l {
   font-size: 30px;
}
.Symbol__text--flip-both {
   transform: scale(-1, -1);
}
.Symbol__text--flip-h {
   transform: scaleX(-1);
}
.Symbol__text--flip-v {
   transform: scaleY(-1);
}
